<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" id="nes" disabled/>
  <link rel="stylesheet" href="./style.css">
  <title>ポモドーる？</title>
</head>

<body>
  
  <span id="loged" style="color: aliceblue;">ログイン</span>

  <div class="main-container">

    <!-- ポモドーロタイマーページのHTML -->
    <div class="main-wrapper" id="timerPage">
      
      <div class="timer-wrapper">
        <span id="timer">00:00</span>
        <button id="timerBtn">start</button>
      </div>

      <div class="book-image" id="bookImage">
        <p>
          <span class="pomo-count" id="pomoCount">0</span>ポモドーロ
        </p>
        <img id="pomoBook" src="./assets/no_image2.png" alt="">
        <div class="bookmenu">
          <span id="bookSet">書籍をセット</span>
          <span id="bookOff">書籍をはずす</span>
        </div>
      </div>

      <div class="log-wrapper">
        <textarea class="book-log" name="book-log" id="bookLog" cols="30" rows="50" readonly>Please write your impression</textarea>
      </div>

    </div>

    <!-- 書籍管理ページのHTML -->
    <div class="main-wrapper" id="booksPage">
      <!-- <i class="nes-bcrikko is-small"></i> -->
      <img class="nes-avatar is-rounded is-medium" alt="Gravatar image example" src="https://www.gravatar.com/avatar?s=15"
        style="image-rendering: pixelated;" id="backTimer">
      <div class="nes-field is-inline">
        <input 
        type="text" 
        class="nes-input is-success"
        placeholder="本のタイトル もしくは ISBNコードで検索"
        id="searchArea"
        >
      </div>
      <ul class="book-img-wrapper" id="liblary">
        <!-- 書籍データ表示 -->
      </ul>
    
    </div>
    
    <!-- 書籍検索モーダルのHTML -->
    <div class="main-modal" id="searchModal">
      <section>
        <dialog 
         class="nes-dialog is-dark is-rounded" id="searchDialog">
          <form method="dialog">
            <menu class="dialog-menu">
              <button class="nes-btn" id="serachColseBtn">閉じる</button>
            </menu>
            <h2 class="title">書籍の検索</h2>
            <!-- 検索入力フィールド -->
            <div class="nes-field search-fields">
              <label for="title_field">タイトル・ISBN</label>
              <input type="text" id="searchField" 
              value=""
              class="nes-input is-dark">
              <div class="sub-field">
                <div class="scan-btn" id="scan">
                  <span>本のバーコードをスキャン</span>
                  <i class="nes-icon instagram"></i>
                </div>
                <button class="nes-btn is-primary" id="searchBtn">検索</button>
              </div>
            </div>
          </form>

          <button class="nes-btn buun-btn" id="buunBtn">ビューン</button>
          <div id="result">
            
          </div>
        </dialog>
      </section>
    </div>

    <!-- 編集モーダルのHTML -->
    <div class="main-modal" id="editModal">
      <section>
        <dialog 
         class="nes-dialog is-dark is-rounded" id="editDialog">
          <form method="dialog">
            <menu class="dialog-menu">
              <button class="nes-btn is-success" id="startPomodoloBtn">ポモドーロする</button>
            </menu>
            <h2 class="title">書籍情報の編集</h2>
            <div class="nes-field is-inline edit-field-wrapper" id="editBox">
              <!-- jsで編集画面挿入 -->
            </div>
            <div class="edit-memo-wrapper" id="memoBox"
            
            
            >
             <!-- jsでメモ画面挿入 -->
            </div>
            <div style="float: right;">
              <button class="nes-btn" id="editCloseBtn">閉じる</button>
              <button class="nes-btn is-primary" id="modifiedBtn"
              >変更する</button>
            </div>
          </form>
        </dialog>
      </section>
    </div>

    <!-- scanモーダルのHTML -->
    <div class="sub-modal">
      <section>
        <dialog class="nes-dialog is-dark is-rounded" id="videoModal">
          <div id="scanResult">
            <!-- video -->
          </div>
          <menu class="dialog-menu textarea-menu">
            <button id="goStop">ストップ</button>
            <button id="goScan">スキャン</button>
          </menu>
        </dialog>
      </section>
    </div>

    <!-- booklogモーダルのHTML -->
    <div class="sub-modal">
      <section>
        <dialog id="logModal">
          <textarea class="book-log" name="" id="logModalArea" cols="80" rows="200"></textarea>
          <span id="logClose">close</span>
        </dialog>
      </section>
    </div>


    <!-- ログインモーダル -->
    <div id="loginContainer">
      <section>
        <dialog id="loginDialog">
          <form autocomplete="off">
            <div class="form-group">
              <p id="loginClose">close</p>
              <div class="input-outer">
                <label for="name">User name</label>
                <input :placeholder="inputUsername" type="text" id="name" class="name" v-model="user.name">
              </div>
              <div class="input-outer">
                <label for="email">Email address</label>
                <input type="email" id="email" class="email" v-model="user.email">
              </div>
              <div class="input-outer">
                <label for="password">Password</label>
                <input type="password" id="password" class="password" v-model="user.password">
              </div>
              <div class="btn-group">
                <button class="signup-btn" id="signup">signUP</button>
                <button class="login-btn" id="login">logIN</button>
              </div>
            </div>
            <span id="errorM"></span>
            <p>初めての方は「signUP」をしてください!</p>
          </form>
        </dialog>
      </section>
    </div>


  </div>

  <!-- ファイヤーベース本体 -->
  <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>
  <!-- ファイヤーベースUI -->
  <!-- <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" /> -->
  <!-- アナリティクス -->
  <!-- <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-analytics.js"></script> -->
  <!-- オース -->
  <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-auth.js"></script>
  <!-- ファイヤーストア -->
  <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-firestore.js"></script>

  <script src="./assets/anime.min.js"></script>
  <script type="text/javascript" src="https://serratus.github.io/quaggaJS/examples/js/quagga.min.js"></script>
  <script src="./functions.js"></script>
  <script src="./main.js" type="module"></script>
</body>

</html>