@font-face {
  font-family: 'MyFont';
  src: url('./assets/PixelMplus12-Regular.ttf');
}
/* timerページ以外はファミコン風フォント */
.main-wrapper:not(#timerPage) {
  font-family: 'MyFont';
}


body {
  margin: 0;
  /* font-family: 'MyFont'; */
}

header {
  position: fixed;
}

h1 {
  margin: 0;
  padding-top: 20px;
  /* position: fixed; */
  text-align: center;
}

.main-container #timerPage {
  background-image: url('./assets/back_img.jpg');
  background-size: cover;
  height: 100vh;
}

.main-container #booksPage {
  background-image: url('./assets/back_img2.jpg');
  background-size: cover;
  height: 100vh;  
  background-attachment: fixed;
  overflow: scroll;
}

.main-container #singlPage {
  background-image: url('./assets/back_img3.jpg');  
  background-size: cover;
  height: 100vh;
  font-family: 'MyFont';
}

/* .main-wrapper {
  display: flex;
} */

/* timerPageのCSS */
.book-image {
  width: 240px;
  position: absolute;
  left: 3%;
  top: 40%;
}

.book-image img {
   width: 240px;
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 15vw;
  font-family: Georgia, serif;
  text-align: center;
  height: 40vh;
  line-height: 2;
}
.timer-wrapper span {
  height: 35vh;
}
.timer-wrapper button {
  width: 130px;
  font-size: 24px;
  font-family: Georgia, serif;
  align-self: center;
  cursor: pointer;
  padding: 12.5px 25px;
  border-radius: 23px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d2429), to(#65a9d7));
  background: -webkit-linear-gradient(top, #1d2429, #65a9d7);
  background: -moz-linear-gradient(top, #1d2429, #65a9d7);
  background: -ms-linear-gradient(top, #1d2429, #65a9d7);
  background: -o-linear-gradient(top, #1d2429, #65a9d7);
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
}
.timer-wrapper button:hover {
  border-top-color: #8ba1b0;
  background: #8ba1b0;
  color: #120112;
  text-shadow: 5px 5px 5px #fff;
}
.timer-wrapper button:focus {
  outline: 0;
 }
.timer-wrapper button:active {
  border-top-color: #1b435e;
  background: #1b435e;
 }

.log-wrapper {
  position: absolute;
  right: 3%;
  top: 40%;
  height: 355px;
  overflow: scroll;
}

.book-log {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: Georgia, serif;
  color : transparent;
  text-shadow : 0 0 0 #fff;
}

.book-log:focus {
  outline: 0;
  outline : none;
}

/* booksPageのCSS */
.nes-field {
  width: 40%;
  margin: 20px auto;
}
.nes-input {
  background-color: transparent;
  color: #fff;
}
.nes-input::placeholder {
  opacity: .7;
  color: #fff;
}

.book-img-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
  max-width: 900px;
  margin: 0 auto;
}

.book-img-wrapper li {
  list-style: none;
  margin: 10px;
  /* flex-grow: 1; */
}

.book-img-wrapper img {
  margin-top: 10px;
  width: 18vw;
  max-width: 180px;
  opacity: .9;
}

/* 検索ダイアログ */
#searchDialog {
  width: 100%;
  height: 90%;
}
#searchDialog .search-fields {
  width: 80%;
}
#searchDialog .dialog-menu {
  float: right;
}
#searchDialog .sub-field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#searchDialog .scan-btn {
  flex-grow: 2;
}
#searchDialog #searchBtn {
  flex-grow: 1;
}
#result .img-wrapper {
  text-align: center;
}
#result .regist-btn {
  color: #000;
  width: 80%;
  margin-top: 10px;
}

td:first-of-type {
  width: 20%;
  text-align: center;
}
.item {
  display: flex;
  margin-bottom: 30px;
}
.item a {
  display: inline-block;
  height: fit-content;
  margin-top: 10px;
}
.nes-table.is-dark {
  width: -webkit-fill-available;
}
/* nes-tableのabsoluteを打ち消す */
.nes-table.is-dark::before {
  z-index: -1;
}


/* スマホサイズ */
@media screen and (max-width:400px) {
  .nes-field {
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }
  .nes-input {
    color: #000;
    height: 30px;
  }
  .nes-input::placeholder {
    color: #000;
    font-size: 12px;
    opacity: .7;
  }
  .book-img-wrapper img {
    width: 28vw;
  }
}

